.card {
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover;
    margin-bottom: 12px;
    display: block;
    border-radius: 9px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    margin: 0 ;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    width: 23px;
    height: 20px;
    background-color: transparent;
    opacity: 40%;
    border: none;
}