.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.4)
}

.profile__avatar {
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    max-width: 420px;
    font-weight: 500;
    font-family: Poppins;
    font-size: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.profile__description {
    margin: 0;
    max-width: 420px;
    font-weight: 500;
    font-family: Poppins;
    font-size: 16px;
    line-height: 16px;
    opacity: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.profile__edit-btn {
    margin-top: auto;
    margin-right: auto;
    border: none;
    background-color: #fcf5e5;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    opacity: 70%;
}

.profile__edit-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.profile__add-btn {
    margin-left: auto;
    align-self: flex-end;
    width: 149px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: rgba(33, 33, 33, 1);
    color: #fcf5e5;
    font-weight: 500;
}

.profile__add-btn:hover {
    opacity: 70%;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
    }

    .profile__name {
        font-size: 20px;
        line-height: 20px;
        max-width: 288px;
    }

    .profile__description {
        margin: 0 0 32px;
        opacity: 70%;
        max-width: 288px;
    }

    .profile__add-btn {
        margin: 0;
        width: 100%;
    }
}